---
#
# Storage live migration of virtual disks from source storage domain
# to destination storage domain. 
# Beware that for thin-provisioned disks depending on a template, you
# should first copy the template to the destination storage domain
# before running the playbook.
#
# Define following variables as extra-vars:
#   --extra-vars "src_storage=XXX"
#   --extra-vars "dst_storage=YYY"
#
# Run the playbook as:
# ansible-playbook -i inventory/hosts.ini \
#     -u <ssh-user> --key-file ~/.ssh/private-key \
#     --extra-vars "src_storage=XXX" \
#     --extra-vars "dst_storage=YYY"   olvm_migrate_storagedomain.yml
#

- hosts: olvm
  become: yes
  become_method: sudo
  gather_facts: no

  tasks:

    - name: Login to OLVM manager
      ovirt_auth:
        url: "{{ lookup('env', 'OVIRT_URL') }}"
        username: "{{ lookup('env', 'OVIRT_USERNAME') }}"
        password: "{{ lookup('env', 'OVIRT_PASSWORD') }}"
        ca_file: "{{ olvm_cafile | default('/etc/pki/ovirt-engine/ca.pem') }}"
        insecure: "{{ olvm_insecure | default(true) }}"
      tags:
        - always

    - name: "Find VMs with disks on {{src_storage}} storage domain"
      ovirt.ovirt.ovirt_storage_domain_info:
        auth: "{{ ovirt_auth }}"
        pattern: name="{{src_storage}}"
        fetch_nested: true
        nested_attributes: "'disk_snapshots','vms'"
      register: result

    - name: "Print gathered information about Storage {{src_storage}}"
      ansible.builtin.debug:
        msg: "{{result.ovirt_storage_domains[0]}}"
        verbosity: 1

    - name: Live migrate disks for assigned VMs
      ansible.builtin.include_tasks: "tasks_livemigrate_vmdisks.yml"
      loop: "{{ result.ovirt_storage_domains[0].vms }}"
      loop_control:
        loop_var: vm

    - name: Cleanup OLVM auth token
      ovirt_auth:
        ovirt_auth: "{{ ovirt_auth }}"
        state: absent
