---
# File:        group_vars/all.yml
# Description: group_vars for "all" hosts in the inventory file

# Generic variables:
olam_ee_tag: 2.3.1-1
debug_enabled: false
admin_email: admin@example.com

# Enter the password for PostgreSQL awx user

"awx_pguser_password": CHANGEME

# Enter the password for PostgreSQL awx user

"olam_admin_password": CHANGEME

# Set proxy if needed
# Uncomment both the pip_proxy_env and proxy_env sections, and set the proxy host and port accordingly.

pip_proxy_env:
#  http_proxy: 'http://www.example.com:80
#  https_proxy: 'https://www.example.com:80'

proxy_env:
#  http_proxy: 'www.example.com:80'
#  https_proxy: 'www.example.com:80'
#  ftp_proxy: 'www.example.com:80'
#  no_proxy: 'localhost,127.0.0.1,example.com'
